body {
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #69cb80;
  padding: 1px;
  width: 100%;
}

.form {
  padding: 20px;
}
