body {
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #69cb80;
  padding: 1px;
  width: 100%;
}

.form {
  padding: 20px;
}
.data {
  margin-top: 10px;
}
.data-val {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 9px 0px 9px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  border-radius: 30px;
  align-items: center;
}
